{% extends 'base.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}
{% include '/admin/adminBase.html.twig' %}
<div class="">
    <div class="videoHome">
        <img src="https://i.pinimg.com/originals/c6/34/b6/c634b6418e93d2cc0c98ed02338019c5.gif" alt="thé">
        </div>
</div>

{% endblock %}
