{% extends 'base.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}
 {% if is_granted("ROLE_ADMIN") %}
{% include '/admin/adminBase.html.twig' %}
<div class="">
    <div class="videoHome">
        <img src="https://i.pinimg.com/originals/c6/34/b6/c634b6418e93d2cc0c98ed02338019c5.gif" alt="thé">
        </div>
</div>
{% else %}
<p> Vous devez être administrateur pour voir ce contenu ! </p>
{% endif %}

{% endblock %}
