{% extends 'base.html.twig' %}

{% block title %}Edit Benefit{% endblock %}

{% block body %}
    <h1>Edit Benefit</h1>

    {{ include('benefit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('benefit_index') }}">back to list</a>

    {{ include('benefit/_delete_form.html.twig') }}
{% endblock %}
