body {
    background-color: #B1BDA9;
    font-family: 'Montserrat', sans-serif;
}

/* CSS de la userBase */

#navUser  {
   display:flex;
   justify-content: space-around;
   border-bottom: 1px solid black;
   margin-left:4%;
   margin-right:4%;

}

#navUser li {
    list-style: none;
    font-size:25px;
    margin-bottom:2%;
}

#navUser li a{
    cursor:pointer;
    text-decoration: none;
    color:black;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

#navUser a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    transition: all 1s;
}

#navUser a:hover:before {
    transform: translateX(0);
    border-bottom : 1px dashed rgb(226, 226, 219);
  }

#navUser a:hover {
    color: rgb(226, 226, 219);
    font-weight:bold;
  }


#logo-login {
    width:300px;
}

/* CSS DU LOGIN */

#logo-login2 {
    width:600px;
}

/* CSS des btns  */

.btn a {
    display:flex;
    justify-content : center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width:25%;
}

.btn a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.btn a:hover:before {
    transform: translateX(0);
  }

.btn a:hover {
    color: #ffffff;
  }

#form-login input {
   width: 20%;

}

/* CSS du footer user  */

#footerUser  {
    display:flex;
    justify-content: flex-end;
    gap:80px;
    margin:2%;
    border-top: 1px solid black;
    margin-left:4%;
    margin-right:4%;
 }

#footerUser li {
     list-style: none;
     text-decoration: none;
     margin-top:2%;
 }

#footerUser li a{
     cursor:pointer;
     color: black;
     font-size:20px;
     text-decoration: none;
 }

 #footerUser li a:hover {
    color: rgb(226, 226, 219);
    font-weight:bold;
 }

 .footer p {
    color:grey;
}


 /* CSS des barres de recherches  */

 .searchbar {
     display : flex;
     justify-content: center;
     margin:5%;
 }

 .searchbar input {
     width: 30%;
     height:30px;
     text-align:center;
     border: 1px solid black;
     font-style: italic;

}

.searchbar button {
    margin-left:1%;
}

.fa-search{
    border-radius: 3%;
    padding:5px;
}


/* CSS de la homepage */

.homepage {
    display:flex;
}

.videoHome {
    margin:2%;
}

.videoHome img {
    height:500px;
    width:500px;
    object-fit:cover;
    border-radius: 30% 0% 30% 0%;
}

.textHome {
    margin:2%;
    margin-top:10%;
    font-size :23px;
}

.textHome p {
    font-family: 'Mr Dafoe', cursive;
    display:flex;
    justify-content: flex-end;
    margin-right:4%;
}

/* CSS de la page benefit index  */

.lesbenefits{
    display:flex;
    justify-content: space-around;
    flex-wrap : wrap;
    gap:30px;
}
.benefit {
    display:flex;
    flex-direction: column;
    width: 19%;
    margin-bottom : 5%;
}

.benefit h2 {
    font-size: 18px;
}

.benefit a {
    display:flex;
    justify-content : center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width:30%;
}

.benefit a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.benefit a:hover:before {
    transform: translateX(0);
  }

.benefit a:hover {
    color: #ffffff;
  }

.benefit img {
    height: 270px;
    width: auto;
    object-fit: cover;
    cursor:pointer;
    transition: all 1s;
    box-shadow : 0px 2px 4px 0px #7B7B7B;
}

/* CSS de la page ingredient index */

.lesIngredients {
    display:flex;
    justify-content: space-around;
    flex-wrap : wrap;
    gap:30px;
}
.ingredient {
    display:flex;
    flex-direction: column;
    width: 19%;
    margin-bottom : 5%;
}

.ingredient h2 {
    font-size: 18px;
}

h2, h1, p {
    text-align: center;
}
.ingredient a {
    display:flex;
    justify-content : center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width:30%;
}

.ingredient a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.ingredient a:hover:before {
    transform: translateX(0);
  }

.ingredient a:hover {
    color: #ffffff;
  }

.ingredient img {
    height: 270px;
    width: auto;
    object-fit: cover;
    cursor:pointer;
    transition: all 1s;
    box-shadow : 0px 2px 4px 0px #7B7B7B;
}

/* CSS ingredient/benefit/drink show  */

.ingredientShow {
    display:flex;
    justify-content: space-around;
    margin: 5%;
}


.showBody img {
    height:500px;
    width:500px;
    object-fit:cover;
    border-radius: 30% 0% 30% 0%;
}

.showBody {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    gap:30px;

}

.showBody a {
    font-size : 15px;
    color: rgb(245, 240, 227);
    text-decoration: none;
}

.showBody a:hover {
    text-decoration: underline;
    color: rgb(122, 121, 202);
}

.text {
    width: 70%;
    text-align:center;

}

.liens {
    width:30%;
}

.liens p {
    text-align: center;
}

.liens li {
    border: 3px solid black;
    list-style: none;
    text-align: center;
    padding: 2%;
}

.liens li a {
  color: rgb(245, 240, 227);
  text-decoration: none;
  width:70%;
}

.liens li:hover{
   background-color: rgb(236, 236, 226);
   cursor:pointer;
   color:black;
}

.liens li a:hover{
    color:black;
}

.liens a:hover {
    text-decoration :none;
    color:black;
}

/* CSS de la page drink index */

.lesdrinks {
    display:flex;
    justify-content: space-around;
    flex-wrap : wrap;
    gap:30px;
}
.drink {
    display:flex;
    flex-direction: column;
    width: 19%;
    margin-bottom : 5%;
}

.drink h2 {
    font-size: 18px;
}

.drink a {
    display:flex;
    justify-content : center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width:30%;
}

.drink a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.drink a:hover:before {
    transform: translateX(0);
  }

.drink a:hover {
    color: #ffffff;
  }

.drink img {
    height: 270px;
    width: auto;
    object-fit: cover;
    cursor:pointer;
    transition: all 1s;
    box-shadow : 0px 2px 4px 0px #7B7B7B;
}

/* CSS DES PAGES ADMIN */

/* CSS des tableaux index  */

.container-tableau {
    margin: 25px 0 25px 0;
    overflow-y: scroll;
    width:80%;
    padding: 20px;
    display: flex;
    text-align :center;
    flex-direction: column;
    margin-left:10%;
    box-shadow : 0px 2px 4px 0px #7B7B7B;
  }


  .fa-pen:hover, .fa-trash:hover, .fa-eye:hover {
    color: rgb(233, 235, 224);
    background-color: rgb(30, 39, 38);
    border: 1px solid rgb(30, 39, 38);
    border-radius: 30px;
    padding:5px;
}

.fa-pen, .fa-trash, .fa-eye  {
    color: rgb(233, 235, 224);
    background-color: rgb(80, 109, 107);
    border: 1px solid rgb(80, 109, 107);
    border-radius: 30px;
    padding:5px;
}

.container-tableau button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
