
{% block header %}
    <nav id="navBar">
        <img id="logo-login" src="/build/images/logo.png">
        <ul id="navUser">
            <li>Home</li>
            <li>Ingrédients</li>
            <li>Boissons</li>
            <li>Bienfaits</li>
        </ul>
    </nav>
{% endblock %}