{% block footer %}
<div class="footer">
    <nav id="footerBar">
        <ul id="footerUser">
            <li><a href="">Social</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">AboutUs</a></li>
        </ul>
    </nav>
    <p>© Copyright 2022 - All rights reserved<br/>
    Made with ♥ by Jessie
    </p>
</div>
{% endblock %}